@tailwind base;
@tailwind components;

.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover {
    @apply bg-blue-700;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    background-color: #3e2723;
    padding: 10px;
}

.grid-item {
    background-color: #80cbc4;
    border: 1px solid #fff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

@tailwind utilities;
